{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Details Form {% endblock %}

{% block body %}
<div class="container">
    <form action="" method="POST" name="edit-form">
        <table class="table">
            <tr>
                <td><label class="font-italic h4">Company Name</label></td>
                <td><input type="text" name="company_name" 
                            class="form-control required"
                            pattern="^[a-zA-Z0-9]*${1,100}$"
                            title="Company name must contain only alphanumeric charachters."/></td>
            </tr>
            <tr>
                <td><label class="font-italic h4">First Name</label></td>
                <td><input type="text" name="full_name" 
                            class="form-control"
                            pattern="^[a-zA-Z]{1,100}$"
                            title="First name must contian only alphabetic characters."/></td>
            </tr>
	    <tr>
                <td><label class="font-italic h4">Last Name</label></td>
                <td><input type="text" name="full_name"
                            class="form-control"
                            pattern="^[a-zA-Z]{1,100}$"
                            title="Last name must contain only alphabetic characters."/></td>
            </tr>
            <tr>
                <td><label class="font-italic h4">Email</label></td>
                <td><input type="text" name="email" 
                            class="form-control"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            title="Email should be in valid format."/>
                            </td>
            </tr>
            <tr>
                <td><label class="font-italic h4">Phone Number</label></td>
                <td><input type="text" name="phone_number" 
                            class="form-control"
                            pattern="^[0-9]{0,15}$"
                            phone="Phone number should contain only numbers and less then 15 digits."/></td>
            </tr>
            <tr>
                <td><label class="font-italic h4">Packages</label></td>
                <td><select name="package-select" class="form-control form-control-sm bg-light" id="exampleFormControlSelect1">
                    {% for package in packages %}
                    <option value="{{ package }}">{{ package }}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <input type="submit" name="Submit" value="Submit" class="btn btn-outline-danger float-left mr-3 btn-block">
                    <input type="skip" name="Skip" value="Skip" class="btn btn-outline-danger float-right btn-block" onclick="redirection()">
                    <script>
                        function redirection() {
                            window.location.href="/";
                        }
                    </script>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
