{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Bynet Installer {% endblock %}

{% block body %}
<div class="text-center my-5">
    <h3 class="text-black display-3 font-weight-bold font-italic"> Somethig went wrong!</h3>
    <p class="text-black text-center lead font-italic">
        We apologize for any inconvenience this may have caused. 
        It appears that something went wrong during the process. 
        Please don't hesitate to try again, and if the error persists, please reach out to us for assistance. 
        We're here to help you resolve any issues and make sure your experience is a positive one.
    </p>
{% endblock %}