[Unit]
Description=Bynet Installer
After=network.target
[Service]
ExecStart=/opt/bynet_installer/src/install_start.sh
[Install]
WantedBy=default.target